h1 {
  color: red;
}
.card-product-image {
  width: 100%;
  height: auto;
  border-radius: 15px !important;
}
.card {
  border-radius: 15px !important;
}
.card-color:hover {
  color: #3bb77e;
}
.productCategory {
  color: #cb1212;
}
.merchantHighlight {
  color: #3bb77e;
}
.merchantHighlight:hover {
  color: #fdc040;
}
.card-title:hover {
  color: #3bb77e;
}

.discounted-price-strike {
  font-size: 14px;
  color: #adadad !important;
  text-decoration: line-through;
}
.product-final-price {
  font-size: 18px;
  font-weight: bold;
  color: #3bb77e;
}

.cart-button {
  background-color: #def9ec !important;
}
.cart-button:hover {
  background-color: #3bb77e !important;
  color: #ffffff !important;
}
.card-cursor-pointer {
  cursor: pointer;
}

/*starting header */

.product-badges.product-badges-position {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 9;
}

.product-badges.product-badges-mrg {
  margin: 0 0 10px;
}
.product-badges {
  display: flex;
}

.product-badges span.hot {
  background-color: #f74b81;
}

.product-badges span {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 15px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
}
.product-badges span:last-child {
  margin-right: 0px;
}
.star {
  color: #ff9900;
}

.star {
  font-size: 70%;
}
.starHalfFill {
  font-size: 24px;
  background: linear-gradiant(to right, and gold 50%, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* for review stars */

.product-rate {
  background-image: url(https://nest-frontend-v6.netlify.app/assets/imgs/theme/rating-stars.png);
  background-position: 0 -12px;
  background-repeat: repeat-x;
  height: 12px;
  width: 60px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.d-inline-block {
  display: inline-block !important;
}

.product-rating {
  height: 12px;
  background-repeat: repeat-x;
  background-image: url(https://nest-frontend-v6.netlify.app/assets/imgs/theme/rating-stars.png);
  background-position: 0 0;
}

.text-muted {
  color: #b6b6b6 !important;
}
.colorChange {
  color: #b6b6b6 !important;
}
.card-margin {
  margin-bottom: 20px;
  margin-top: 10px;
}
/* =============================================================================*/

.card-border {
  padding: 1rem;
  border: 1px solid #f2f3f4;
  border-radius: 15px;
}
